@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

.newsTable {
	width: 80%;
	height: 540px;
	margin: 50px auto;
	text-align: center;
	border-collapse: collapse;
	background:rgba(255,255,255,0.3);
	color:gray;
	border-radius: 15px;
}
form{
	width:1200px;
}
.createdSection{
    min-width:600px;
}
.td1 {
	background: ;
}
span {
	margin-left: 30px;
}
input, textarea {
	width: 90%;
	height: 85%;
    border: 0px;
	border-radius: 5px;
	background: rgba(10,10,10,0.1);
	backdrop-filter:sturate(180%) blur(3px);
}

.td2 input {
	width: 200px;
	height:22px;
	color:black;
	margin-left: 30px;
}
.ariticle1-1{
	height: 630px;
}
.newsTable1-1{
	margin: 10px auto;
}
